{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objets</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ objet.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ objet.description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ objet.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objets_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('objets_edit', { 'id': objet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
